@model ProductViewModel
@{
    List<SelectListItem> categories = ViewBag.Categories;
}

<form asp-action="Save" asp-controller="Product" asp-antiforgery="true" method="post" autocomplete="off">
    <input asp-for="ProductId" type="hidden" />
    <div class="row">
        <div class="col">
            <label asp-for="ProductName"></label>
            <input asp-for="ProductName" />
            <span asp-validation-for="ProductName" class="text-danger"></span>
        </div>
        <div class="col">
            <label asp-for="CategoryId"></label>
            <select asp-for="CategoryId">
                @foreach (SelectListItem item in categories)
                {
                    <option value="@item.Value" selected="@item.Selected">
                                    @item.Text
                    </option>}
            </select>
        </div>
        <div class="col">
            <label asp-for="UnitPrice"></label>
            <input asp-for="UnitPrice" />
            <span asp-validation-for="UnitPrice" class="text-danger"></span>
        </div>
        <div class="col">
            <label asp-for="Discontinued"></label>
            <input type="checkbox" asp-for="Discontinued" />
        </div>
    </div>
    <div class="row">
        <button class="btn btn-secondary" type="submit">Salva</button>
        <a class="btn btn-secondary" asp-controller="Product" asp-action="Index">
            Annulla
        </a>
    </div>
</form>